.h1 {
  color: red;
}

.cub {
  width: 450px;
  height: 75px;
  background-color: #581b1b;
  margin: 0 auto;
}

ul {
  display: flex;
}

li {
  margin-left: 55px;
  list-style-type: lower-roman;

  &::marker {
    color: #581b1b;
    // font-size: 0.5rem;
  }
}
